<!DOCTYPE html>
<html>

<head>    
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_LinksPartial")
</head>

<body>

    <header>
        @await Html.PartialAsync("_HeaderPartial")
    </header>

    <main>
        @RenderBody()
    </main>

</body>

</html>