<title>V-Server</title>
<meta charset="UTF-8" />
<meta name="author" content="Vyacheslav The Best" />
<meta name="keywords" content="Vyacheslav, minecraft" />
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />   
}