@model ErrorViewModel

<div class="block_standart status_code_page first_slide">
    <div class="container">
        <div class="intro_container dark_area">
            @if(Model.CurrentPageType == ErrorViewModel.PageType.StatusCode)
            {
                <style>
                    .title::after {
                        content: "@Html.Raw(Model.StatusMessage)";
                    }
                </style>
                <h1 class="title">Ой, ошибка @Model.StatusCode<br>пришла</h1>
                <hr class="hr_intro" />
            }   
            else
            {
                <h1 class="title">Ошибка</h1>
                <hr class="hr_intro" />
                <h2 class="subtitle">Возникла ошибка в процессе запроса</h2>

                @if (Model.ShowRequestId)
                {
                    <p class="minecraft_font font_size_normal white">
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
            }
            <a href="/" class="minecraft_font font_size_normal white">Вернуться на главную старницу</a>
        </div>
    </div>
</div>