.cards-container {
    font-family: 'card', 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 260px;
    overflow-x: auto;
}

.card {
    width: 400px;
    height: 250px;
    background-color: #2d2d2d;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:first-child {
    margin: 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
}

.bank-name {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

.card-body {
    text-align: center;
}

.card-number {
    font-size: 1.3em;
    letter-spacing: 2px;
    margin: 35px auto 0;
}

.copy-link {
    font-size: 1em;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.card-footer {
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
}

.card-owner {
    display: block;
    letter-spacing: 2px;
    font-weight: bold;
}