.horizontal_scroller {
	display: grid;
    grid-template-columns: 50px 50px auto 50px 50px;
    gap: 10px;
    grid-auto-flow: column;
    flex: 1;
}

.horizontal_scroller_arrow_container {
    display: flex;
    flex-direction: row;
    padding: 0 7px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.horizontal_scroller_arrow_left, 
.horizontal_scroller_arrow_right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.horizontal_scroller_arrow_container:hover .horizontal_scroller_arrow_right::before,
.horizontal_scroller_arrow_container:hover .horizontal_scroller_arrow_right::after,
.horizontal_scroller_arrow_container:hover .horizontal_scroller_arrow_left::before,
.horizontal_scroller_arrow_container:hover .horizontal_scroller_arrow_left::after{
    background-color: white;
    transition: 0.3s;
}

.horizontal_scroller_content {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

.horizontal_scroller_content::-webkit-scrollbar{
    display: none;
}

.horizontal_scroller_arrow_right::before, 
.horizontal_scroller_arrow_right::after {
    content: "";
    display: block;
    width: 7px;
    height: 100px;
    background-color: #a6a6a6;
    border-radius: 5px;
    transform: rotate(90deg);
}

.horizontal_scroller_arrow_right::before {
    transform: rotate(-7deg) translate(0, 4.5px);
}

.horizontal_scroller_arrow_right::after {
    transform: rotate(7deg) translate(0, -4.5px);
}

.horizontal_scroller_arrow_left::before, 
.horizontal_scroller_arrow_left::after {
    content: "";
    display: block;
    width: 7px;
    height: 100px;
    background-color: #a6a6a6;
    border-radius: 5px;
    transform: rotate(90deg);
}

.horizontal_scroller_arrow_left::before {
    transform: rotate(7deg) translate(0, 4.5px);
}

.horizontal_scroller_arrow_left::after {
    transform: rotate(-7deg) translate(0, -4.5px);
}