@model UserReportViewModel

<div class="block_big_first report">
    <div class="container">
        <div>
            <h2 class="minecraft_font section_header">Не работает сервер? Сообщите о сбоях:</h2>
            <form method="post" asp-action="New">
                <div asp-validation-summary="All" class="form_error mc_form_font_standart"></div>
                <div class="form_part_left_aligment">
                    <label class="element_label mc_form_font_standart" asp-for="Subject"></label><br />
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element" asp-for="Subject" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="ReportText"></label><br />
                    <textarea class="mc_text_input_space mc_form_font_standart mc_textarea labeled_element"
                              placeholder="Введите минимум 5 символов"
                              asp-for="ReportText"
                              name="reportText"></textarea>
                </div>
                <div class="form_part_right_aligment">
                    <span class="counter mc_form_font_standart white">
                        (<span class="current">0</span>&nbsp;/
                        <span class="total">500</span> символов)
                    </span>
                </div>
                <div class="form_part_center_aligment form_next_block">
                    <button class="mc_button wide_element" type="submit"><span class="mc_button_title mc_form_font_standart">Отправить</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/text_counter.js"></script>