<div class="block_standart first_slide report">
    <div class="container">
        <div class="intro_container">
            <h2 class="section_header minecraft_font">Форма отправлена</h2>
            <div class="section_text">
                <p class="minecraft_font font_size_normal">Спасибо за ваш отзыв, администрация починит неисправность в ближайшее время</p>
                <a href="/" class="minecraft_font font_size_normal">Вернуться на главную старницу</a>
            </div>
        </div> 
    </div>
</div>