@model Partner

<div class="block_big_first first_slide">
    <div class="container">
        <div class="intro_container">
            <form asp-area="Admin" asp-controller="PartnersEditor" asp-action="PartnerDetails" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="form_error mc_form_font_standart"></div>
                <input type="hidden" asp-for="Id" readonly />
                <input type="hidden" asp-for="LogoFileName" readonly />
                <div class="form_part_left_aligment">
                    <label class="element_label mc_form_font_standart" asp-for="Name"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="Name" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Subtitle"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="Subtitle" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Description"></label>
                    <textarea class="mc_text_input_space mc_form_font_standart wide_element labeled_element mc_textarea"
                              asp-for="Description">
                    </textarea>
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="LogoFileName"></label>
                    <div class="mc_text_input_space wide_element labeled_element">
                        @if (Model.HasLogo)
                        {
                            <img class="form_image_200" src="~/@Model.LogoFullPath" id="imagePreview"/>
                        }
                        else
                        {
                            <img class="form_image_200" id="imagePreview" style="display:none" />
                        }
                        <input class="mc_form_font_standart"
                               type="file"
                               accept="image/*"
                               name="partnerLogoImage"
                               id="partnerLogoImage" 
                               onchange="previewImage(event)" />
                    </div>
                    
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart mc_checkbox_container" asp-for="ShowPartner">
                        @Html.DisplayNameFor(x => x.ShowPartner)
                        <input asp-for="ShowPartner" /><br>
                        <span class="mc_checkbox"></span>
                    </label>
                </div>

                <div class="form_part_center_aligment form_next_block">
                    <button class="mc_button wide_element" type="submit">
                        <span class="mc_button_title mc_form_font_standart">Сохранить</span>
                    </button>
                </div>
                <div class="form_next_block">
                    <a asp-area="Admin" asp-controller="PartnersEditor" asp-action="Index" class="white mc_form_font_standart">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        const imagePreview = document.getElementById("imagePreview");
        let reader = new FileReader();

        imagePreview.style.display = "block";
        imagePreview.src = "https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif"

        reader.onload = function () {
            imagePreview.src = reader.result;
        }

        if (event.target.files.length > 0) {
            reader.readAsDataURL(event.target.files[0]); 
        }
    }
</script>        