@model DonationCard

<div class="block_big_first first_slide">
    <div class="container">
        <div class="intro_container">
            <form asp-area="Admin" asp-controller="DonationCardsEditor" asp-action="CardDetails" method="post">
                <div asp-validation-summary="All" class="form_error mc_form_font_standart"></div>
                <input type="hidden" asp-for="Id" readonly />
                <div class="form_part_left_aligment">
                    <label class="element_label mc_form_font_standart" asp-for="CardName"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="CardName" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="BankName"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="BankName" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="CardNumber"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="CardNumber" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="CardHolder"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="CardHolder" />
                </div>
                <div class="two_columns_form form_next_block">
                    <div class="form_part_left_aligment">
                        <label class="element_label mc_form_font_standart" asp-for="ColorDownLeft"></label>
                        <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                               id="colorDownLeft"
                               asp-for="ColorDownLeft" />
                    </div>
                    <div class="form_part_left_aligment column_next">
                        <label class="element_label mc_form_font_standart" asp-for="ColorUpRight"></label>
                        <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                               id="colorUpRight"
                               asp-for="ColorUpRight" />
                    </div>
                </div>
                <div class="form_next_block cards-container">
                    <div class="card" id="cardExample" style="background: linear-gradient(45deg, black, black);">
                        <div class="card-header">
                            <span class="bank-name">BankName</span>
                        </div>
                        <div class="card-body">
                            <p class="card-number">1234 5678 9012 3456</p>
                        </div>
                        <div class="card-footer">
                            <span class="card-owner">CARDHOLDER</span>
                        </div>
                    </div>
                </div>
                <div class="form_part_center_aligment form_next_block">
                    <button class="mc_button wide_element" type="submit">
                        <span class="mc_button_title mc_form_font_standart">Сохранить</span>
                    </button>
                </div>
                <div class="form_next_block">
                    <a asp-area="Admin" asp-controller="DonationCardsEditor" asp-action="Index" class="white mc_form_font_standart">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const colorUpRightInput = document.getElementById("colorUpRight");
    const colorDownLeftInput = document.getElementById("colorDownLeft");
    const cardExample = document.getElementById("cardExample");

    window.addEventListener("load", updateColors);
    colorUpRightInput.addEventListener("input", updateColors);
    colorDownLeftInput.addEventListener("input", updateColors);

    function updateColors(event) {
        let colorUpRight = colorUpRightInput.value;
        let colorDownLeft = colorDownLeftInput.value
        console.log(`linear-gradient(45deg, ${colorDownLeft}, ${colorUpRight})`)
        cardExample.style.background = `linear-gradient(45deg, ${colorDownLeft}, ${colorUpRight})`
    }
</script>