@model RegisterViewModel

<div class="block_standart first_slide login">
    <div class="container">
        <div class="intro_container">
            <h1 class="title">Регистрация</h1><br>
            <form asp-area="" asp-controller="Account" asp-action="Register" class="center_element form_small" method="post">
                <div asp-validation-summary="All" class="form_error mc_form_font_standart"></div>
                <div class="form_part_left_aligment">
                    <label class="element_label mc_form_font_standart" asp-for="UserName"></label><br>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element" asp-for="UserName" /><br>
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Email"></label><br>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element" asp-for="Email" /><br>
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Password"></label><br>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element" asp-for="Password" /><br>
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="PasswordConfirm"></label><br>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element" asp-for="PasswordConfirm" /><br>
                </div>
                <div class="form_part_center_aligment form_next_block">
                    <button class="mc_button wide_element" type="submit">
                        <span class="mc_button_title mc_form_font_standart">Регистрация</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>