<<div class="block_standart first_slide">
    <div class="container">
        <div class="intro_container">
            <h1 class="title">Настройки сайта</h1><br>
            <a href="admin/MainPageEditor/EditMainPage">
                <button class="mc_button wide_element">
                    <span class="mc_button_title mc_form_font_standart">Редактировать главную страницу</span>
                </button>
            </a><br>
            <a asp-area="Admin" asp-controller="UserReportsViewer" asp-action="Index">
                <button class="mc_button wide_element form_next_block">
                    <span class="mc_button_title mc_form_font_standart">Смотреть пользовательские отчёты</span>
                </button>
            </a>
            <a asp-area="Admin" asp-controller="ContactsEditor" asp-action="Index">
                <button class="mc_button wide_element form_next_block">
                    <span class="mc_button_title mc_form_font_standart">Редактировать контакты</span>
                </button>
            </a>
        </div>
    </div>
</div>
