<<div class="block_standart">
    <div class="container">
        <div class="intro_container">
            <h1 class="title">Настройки сайта</h1><br>
            <a href="admin/MainPageEditor/EditMainPage">
                <button class="mc_button login_button">
                    <span class="mc_button_title">Редактировать главную страницу</span>
                </button>
            </a>
        </div>
    </div>
</div>
