@model ContactLink

<div class="block_big_first intro first_slide" id="intro">
    <div class="container">
        <div class="intro_container">
            <form asp-area="Admin" asp-controller="ContactsEditor" asp-action="LinkDetails" asp-route-contactId="@ViewBag.ContactId" method="post">
                <div asp-validation-summary="All" class="form_error mc_form_font_standart"></div>
                <input type="hidden" asp-for="Id" readonly />
                <div class="form_part_left_aligment">
                    <label class="element_label mc_form_font_standart" asp-for="Url"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="Url" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Content"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="Content" />
                </div>
                <div class="form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart" asp-for="Description"></label>
                    <input class="mc_text_input_space mc_form_font_standart wide_element labeled_element"
                           asp-for="Description" />
                </div>
                <div class="last_fill_column form_part_left_aligment form_next_block">
                    <label class="element_label mc_form_font_standart"
                           asp-for="ContactId"></label>
                    <select class="labeled_element mc_listbox mc_form_font_standart"
                            asp-for="ContactId"
                            asp-items="ViewBag.SelectContactItems"
                            size="5">
                    </select>
                </div>

                <div class="form_part_center_aligment form_next_block">
                    <button class="mc_button wide_element" type="submit">
                        <span class="mc_button_title mc_form_font_standart">Сохранить</span>
                    </button>
                </div>
                <div class="form_next_block">
                    <a asp-area="Admin" asp-controller="ContactsEditor" asp-action="Index" class="white mc_form_font_standart">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
