/*minecraft button*/
.mc_button {
    background: #999 url('../../img/bgbtn.png') center / cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    cursor: pointer;
    padding: 0;
    line-height: 44px;
}

/*minecraft button title*/
.mc_button_title:hover {
    background: rgba(100, 100, 255, 0.45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

.mc_button_title:active {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.mc_button_title {
    /*Use with mc_form_font_standart*/
    display: block;
    height: 100%;
    width: 100%;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}