.mc_checkbox_container {
    display: inline-flex;
    cursor: pointer;
    width: fit-content;
    align-items: center;
}

.mc_checkbox_container input {
    display: none;
}

.mc_checkbox_container input:checked ~ .mc_checkbox::after {
    height: 22px;
    width: 22px;
    content: "";
    display: inline-block;
    background-image: url('../../img/checkmark.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.mc_checkbox {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background: black;
    border: 4px solid white;
}