.mc_text_input_space {
    /*Use with mc_form_font_standart*/
    background-color: rgba(0, 0, 0, 0.9);
    color: #e0e0e0;
    text-shadow: 2px 2px #383838;
    border-radius: 0;
    border: 4px solid white;
    outline: none;
    padding: 15px 10px;
    -webkit-text-size-adjust: 100%;
}

.mc_textarea {
    /*Use with mc_text_input_space and mc_form_font_standart*/
    width: 100%;
    height: 250px;
    resize: none;
}

.mc_textarea:focus-visible {
    outline: 0;
}